* {
    margin: 0;
  }
  
  body {
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-between;
  }
  
  section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
  
  div {
    height: 200px;
    width: 200px;
    background-color: black;
  }
  