body {
    background-color: rgb(185, 185, 185);
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: space-between;
  }
  
  .bloco {
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 1px;
  }
  
  section {
    display: flex;
  }
  
  .sessao2 {
    flex-direction: row-reverse;
    align-items: end;
  }
  